{
    "root": true,
    "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
    "parserOptions": {
      "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
      "sourceType": "module", // Allows for the use of imports
      "ecmaFeatures": {
        "jsx": true // Allows for the parsing of JSX
      }
    },
    "rules": {
      "no-empty": 0
    },
    "plugins": [
      "@typescript-eslint",
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "env": {
      "node": true
    }
}